.navbar {
  background-color: #ddd;
  height: calc(100vh - 30px);
  width: 45px;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.navbar-item {
  margin-bottom: 10px;
  text-align: center;
  padding: 13px;
  width: 45px;
  border-radius: 6px;
  background-color: #9CCEEA;
  border: none;
  content: "";
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0, .3);
}

.navbar-item:last-of-type{
  margin-bottom: 1px;
}

.last-item{
  margin-top: auto;
}

.navbar-item:active{
  box-shadow: 0px 0px 0px 0px rgba(0,0,0, .3);
}